body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

h3 {
    text-align: center;
}
.random-text {
    position: absolute;
    /* colour: #000; */ /* Set your preferred text color */
    font-size: 16px; /* Set your preferred font size */
}
